@import './variables.scss';

// * Position * //

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mx-auto {
    margin-inline: auto;
}

.ml-auto {
    margin-left: auto;
}

.mr-auto {
    margin-right: auto;
}

.text-center {
    text-align: center;
}

.maxZindex {
    z-index: 9999;
}

.mr-1 {
    margin-right: 1rem;
}
.mr-2 {
    margin-right: 2rem;
}
.mr-3 {
    margin-right: 3rem;
}
.mr-4 {
    margin-right: 4rem;
}
.mr-5 {
    margin-right: 5rem;
}

.ml-1 {
    margin-left: 1rem;
}
.ml-2 {
    margin-left: 2rem;
}
.ml-3 {
    margin-left: 3rem;
}
.ml-4 {
    margin-left: 4rem;
}
.ml-5 {
    margin-left: 5rem;
}

// * Flex * //

.d-flex {
    display: flex;
}

.row {
    padding: 10px;
    display: flex;
}

.col {
    margin-inline: 10px;
    width: 50%;
}

// * Font * //

.text-h1 {
    font-size: 3.5em;
}
.text-h2 {
    font-size: 3em;
}
.text-h3 {
    font-size: 2.5em;
}
.text-h4 {
    font-size: 2em;
}
.text-h5 {
    font-size: 1.5em;
}
.text-h6 {
    font-size: 1.2em;
}

// * inputs * //

.btn {
    cursor: pointer;
    position: relative;
    z-index: 0;
}

.btn-icon {
    &::before {
        transition: all .3s ease-out;
        content: "";
        position: absolute;
        opacity: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 40px;
        width: 40px;
        z-index: -1;
        background: #735c7c69;
        border-radius: 50%;
    }
    &:hover::before {
        opacity: 0.8;
    }
}

.btn-text {
    transition: all .3s ease-out;
    padding-inline: 40px;
    padding-block: 5px;
    font-size: 15px;
    border-radius: 3px;
    border: none;
    border: 1px solid $secondary;
    background: $secondary;
    color: white;

    &:hover {
        background: #151515;
        color: $primary;
        border: 1px solid $primary;
    }
}

// * Misce * //
.clickable {
    cursor: pointer;
}

// * Animations * //

@keyframes pulse {
    0% {
        background: $secondary;
    }
    50% {
        background: $secondaryDark;
    }
    100% {
        background: $secondary;
    }
}

@keyframes grow {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes decrease {
    100% {
        opacity: 1;
        transform: scale(1);
    }
    0% {
        opacity: 0;
        transform: scale(0);
    }
}